h1 {
    font-size: 75px;
    text-align: center;
}


body {
    font-family: sans-serif;
    height: auto;
    margin-top: 350px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;

}

nav {
    background-color: #D8EE95;
    color: black;
    height: 70px;
    display: flex;
    align-items: center;
}

nav * {
    display: inline;
}

header li {
    margin: 20px;
    font-size: 25px;
    padding-left: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}




.content {
    width: 1800px;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: bisque;
    column-gap: 30px;
    row-gap: 100px;
    padding: 40px;
}


.content img {
    width: 100%;
    height: 500px;
    border: 3px solid #483519;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;

}

fieldset {
    width: 600px;
}

button {
    font-size: 20px;
    margin-top: 20px;
}

.name1 {
    margin-top: 20px;
}

.email1 {
    margin-top: 20px;
}
